@using ClassBooking.Authorisation
@model IEnumerable<ClassBooking.Models.GymMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Gym members</h4>
@if (User.IsAdmin())
{
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
        @if (User.IsAdmin())
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.GymMemberId }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Details", "Details", new { id = item.GymMemberId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id = item.GymMemberId }, new { @class = "btn btn-default" })
        }
        </td>
    </tr>
}

</table>
